.Forecast{
  text-align: center;
  background: linear-gradient(to bottom,  aliceblue 50%, #E7E9EB );
  border-radius: 5px;  
  padding: 4px;
  margin-top: 2px;
  color: #493240;
  }
  .Forecast canvas{
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .Forecast .forecast-temp-max{
  font-weight: bold;
  }
 .Forecast .forecast-temp-min{
    padding-left: 4px;
    color: black;
    opacity: 0.6;
  }


 
