.Weather {
  font-family: arial, sans-serif;
  padding: 20px;
  border: 2px solid #dadde1;
  border-radius: 5px;
  max-width: 600px;
  background: linear-gradient(to bottom,  #FF0099, #493240 );
}
.Weather h1 {
  color: aliceblue;
}
.Weather .submit-button {
  background:aliceblue;
  border: 2px solid #493240;
  border-radius: 4px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.Weather .overview {
  margin-bottom: 20px;
}
.Weather .description-list {
  list-style: none;
  padding: 0;
  color: aliceblue;
  margin-bottom: 0;
}
.Weather li {
  list-style: none;
}
.Weather canvas{
  opacity: 0.78;
}

.Weather .weather-temperature strong {
  color: black;
  opacity: 0.78;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  margin-left: 5px;
  padding-right: 2px;
}

.Weather .temperature-wrap {
  background: linear-gradient(to bottom,  aliceblue 50%, #E7E9EB );
  border-radius: 4px;
  padding: 4px;
  margin: 1px;
}

.Weather .weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.Weather .humidity{
  padding-bottom: 5px;
   }

 @media (max-width: 770px) {
  .Weather .submit-button, .Weather .current-button{
    margin-left: 0;
  }
  .Weather .submit-button {
margin-right: 10px;
margin-bottom: 5px;
  }
  .Weather .form-control {
    margin-bottom: 10px;
  }
 
  .Weather .humidity, .wind {
    font-size: 10pt;
  }

  
 }